/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,100;1,200;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.show {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 50px; /* Adjust padding for smaller screens */
    background-color: black;
    color: aliceblue;
    z-index: 2;
}

.show video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

:root {
    --main-color: #fe5b3d;
    --second-color: #ffac38;
    --text-color: white;
    --gradient: linear-gradient(#fe5b3d, #ffac38);
}

.text {
    position: relative;
    z-index: 10;
}

.show img {
    width: 100%; /* Make image responsive */
    max-width: 400px; /* Set a maximum width for larger screens */
    height: auto; /* Maintain aspect ratio */
    border-radius: 60%;
}

.name {
    font-size: 3em; /* Adjust font size for smaller screens */
    font-weight: 800;
    margin-left: 20px; /* Adjust margin for smaller screens */
    margin-top: -20px; /* Adjust margin for smaller screens */
}

.tag {
    font-size: 16px; /* Adjust font size for smaller screens */
    margin-left: 10px; /* Adjust margin for smaller screens */
}

.about {
    position: absolute;
    z-index: 10;
    color: black;
    margin-top: 20px; /* Adjust margin for smaller screens */
    background-color: aqua;
    margin: 2rem 0 1rem;
    letter-spacing: 1px;
}

.about h1 {
    align-items: center;
}

.para {
    background-color: aqua;
    position: relative;
    font-size: medium; /* Adjust font size for smaller screens */
    margin: 0.5rem 0 1.4rem;
    color: black;
}

.resume img,
.github img,
.linked-in img {
    width: 30px; /* Adjust logo size for smaller screens */
    height: 30px; /* Adjust logo size for smaller screens */
    margin-top: 10px; /* Adjust margin for smaller screens */
    margin-left: 20px; /* Adjust margin for smaller screens */
}

@media screen and (min-width: 768px) {
    /* Apply styles for larger screens */
    .show {
        padding: 100px;
    }

    .show img {
        max-width: 400px;
    }

    .name {
        font-size: 5em;
        margin-left: 350px;
        margin-top: -280px;
    }

    .tag {
        font-size: 20px;
        margin-left: 300px;
    }

    .about {
        margin-top: 650px;
    }

    .resume img {
        margin-top: 50px;
        margin-left: 400px;
    }

    .github img {
        margin-top: -80px;
        margin-left: 550px;
    }

    .linked-in img {
        margin-top: -130px;
        margin-left: 700px;
    }
}
